.navbar {
    background-color: #2b134b;
    position: absolute;
    width: 100vw;
    height: 70px;
    display: inline-block;
    box-shadow: 0px 10px 40px #00000056;
}

.Animal_Lottery {
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    text-decoration: none;
}

  
.logo:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

.boxs{

    justify-content: center;
    display: flex;
    flex-direction: row;

}

.saldo{
    background: #19092e;
    color: white;
    border-radius: 8px;
    padding: 10px 25px;
    font-weight: 800;

}

.symbol{
    opacity: 0.5;
}

.depositar{
    display: flex;
}