{% extends 'main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<center>
   {% if msg %}
      <div class="alert {{class}}">
         {{msg}}
      </div>
   {% endif %}
</center>
   <title>Loteria</title>
      <div class="container-sm">
         <form action="{%url 'loteria:cadastra_numero' %}" method="POST" autocomplete="off" enctype='multipart-form-data'>
            {%csrf_token%}
            <div class="loteria">
               
               <div class="lottery">
                  <img src="../../../static/img/loteria.jpg" alt="Loteria" width="62vw" height="50vh">

                  <!--VALOR 1-->
               
                  <div class="valores">
                     <div class="input-group input-group-sm mb-2">
                        {% for i in lista_numeros %}
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="border-radius: 49%;">{{i}}</span>
                        <input id="{{i}}" type="checkbox" name="{{i}}" onclick="CountChecks('listone',6,this)" value="{{i}}">&nbsp;&nbsp;
                        {% endfor %}
                     </div>
                  </div>
               
                  
                  <br>
                  <input name="saldo" id="saldo" type="number" value="{{valor}}" style="display:none;" readonly>
                  <input name="usuario" id="usuario" type="number" value="{{user}}" style="display:none;" readonly>
                  <div class="valores">
                     <div class="input-group mb-4">
                        
                        <input name="moeda" type="text" id="moeda" class="form-control" maxlength="12"  placeholder="Valor da aposta" onkeypress="return(MascaraMoeda(this,'.',',',event))" required>

                        <button type="submit" class="btn btn-success">Apostar</button>
                     </div>
                     <a href="{% url 'loteria:sortear' %}"><div class="input-group mb-4">Sortear</div></a><br>
                     <a href="{% url 'loteria:testar_ganhadores' %}"><div class="input-group mb-4">Ver ganhadores</div></a>
                  </div>
               </div>
            </div>
         </form>
      </div>
    <!--<script type="text/javascript">
      function CountChecks(whichlist,maxchecked,latestcheck) {
      var listone = new Array("1", "2", "3", "4", "5", "6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60");
      var iterationlist;
      eval("iterationlist="+whichlist);
      var count = 0;
      for( var i=0; i<iterationlist.length; i++ ) {
         if( document.getElementById(iterationlist[i]).checked == true) { count++; }
         if( count > maxchecked ) { latestcheck.checked = false; }
         }
      if( count > maxchecked ) {
         alert('Desculpe, Só é paermitido ' + maxchecked + ' Valores.');
         }
      }
  </script>-->
   {% else %}

   Você não tem acesso a essa área!
   {% endif %}
   
{% endblock %}
