{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <title>Mudar Senha</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="icon" type="icon" href="{% static 'icons/icon_animal_lottery.ico' %}" />
</head>

<body class="login1">
   <form name="formPainel" id="formPainel" method="post" action="{% url 'accounts:/changepassword/' %}">
      <div class="main-login">

         {% csrf_token %}
         <div class="left-login">
            <h1>Altere sua Senha<br>e volte a jogar.<br></h1>
            <img src="{% static 'css/bichos.svg' %}" class="left-login-image" alt="Bichos a solta">
         </div>

         <div class="right-login">
            <div class="card-login">
               <div class="textfield">
                  <label for="usu">Usuario</label>
                  <input name="usu" id="usu" type="text" value="{{user}}" readonly>
               </div>
               <h1>Alterar Senha</h1>
               <div class="textfield">
                  <label for="senha_atual">Senha Atual</label>
                  <input name="senha_atual" id="senha_atual" type="password" name="password" id="password"
                     placeholder="Senha">
               </div>
               <div class="textfield">
                  <label for="nova_senha">Nova Senha</label>
                  <input name="nova_senha" id="nova_senha" type="password" name="password" id="password"
                     placeholder="Senha">
               </div>
               <button type="submit" class="btn-login">Alterar</button>

               <p class="cadastrar">Ao invés disso, <a href="{% url 'accounts:/logouts/'%}" class="link-info">volte ao
                     início.</a></p>

               {% if msg %}
               <div class="alert {{class}}">
                  {{msg}}
               </div>
               {% endif %}
            </div>
         </div>
      </div>
   </form>

   <!-- Java Script-->
   <script src="{% static 'js/javascript.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>